<%- include ('header') -%>

<h2>This is the about page of the to do list app.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptates, quidem tenetur, vero, hic nulla dolorem non nam facilis adipisci eaque expedita? Praesentium, voluptatum mollitia? Cum laborum dicta laboriosam dolorem.</p>

<%- include ('footer') -%>